## Otto Group Product Classification Challenge

이번 과제는 세계 최대의 전자상거래 회사 중 하나인 [Otto Group](https://www.ottogroup.com/)에서 주최하는 [Otto Group Product Classification Challenge](https://www.kaggle.com/c/otto-group-product-classification-challenge/) 경진대회에 참석해보겠습니다.

Otto Group은 익명화(anonymization)된 상품 정보에 대한 데이터를 제공하는데, 경진대회 참석자는 이 데이터를 활용하여 주어진 상품 카테고리(target)를 예측해야 합니다. 상품 카테고리는 Class_1부터 Class_9까지 총 9개가 있습니다. 주어진 데이터를 Decision Tree, Random Forest, 그리고 Gradient Boosting Machine를 활용하여 예측해보도록 하겠습니다.

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("data/train.csv", index_col="id")

print(train.shape)
train.head()

(61878, 94)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
4,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [3]:
test = pd.read_csv("data/test.csv", index_col="id")

print(test.shape)
test.head()

(144368, 93)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,3,...,0,0,11,1,20,0,0,0,0,0
2,2,2,14,16,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
3,0,1,12,1,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
5,1,0,0,1,0,0,1,2,0,3,...,0,0,0,0,0,0,0,9,0,0

## Preprocessing

In [4]:
label_name = "target"
label_name

'target'

In [5]:
feature_names = train.columns.difference([label_name])

print(len(feature_names))
feature_names[0:5]

93

Index(['feat_1', 'feat_10', 'feat_11', 'feat_12', 'feat_13'], dtype='object')

### Train

In [6]:
X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(61878, 93)

,feat_1,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_9,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,2,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,0,0,1,1,0,...,0,1,2,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,4,0,...,1,0,0,0,0,0,1,0,0,0

In [7]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(144368, 93)

,feat_1,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_9,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,0,3,0,0,0,3,2,1,0,0,...,0,11,1,20,0,0,0,0,0,0
2,2,0,0,0,0,0,2,2,0,0,...,0,0,0,0,4,0,0,0,2,0
3,0,0,7,1,0,0,0,7,0,2,...,0,0,0,2,0,0,0,0,0,1
4,0,0,0,0,0,0,21,3,0,0,...,3,1,0,0,0,0,0,0,0,0
5,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9,0,0

In [8]:
y_train = train[label_name]

print(y_train.unique())

print(y_train.shape)
y_train.head()

['Class_1' 'Class_2' 'Class_3' 'Class_4' 'Class_5' 'Class_6' 'Class_7'
 'Class_8' 'Class_9']
(61878,)

id
1    Class_1
2    Class_1
3    Class_1
4    Class_1
5    Class_1
Name: target, dtype: object

### Use Gradient Boosting Machine

In [9]:
from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier(n_estimators = 10,
                                   random_state = 42)
model

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=10,
              n_iter_no_change=None, presort='auto', random_state=42,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

### Use LightGBM

In [10]:
l = [0.1,0.01,0.001,0.0001,0.00001]
l

[0.1, 0.01, 0.001, 0.0001, 1e-05]

In [14]:
from lightgbm import LGBMClassifier
"""
random_state = 42

modellist = []

for i in l:
    model = LGBMClassifier(boosting_type='gbdt',
                           n_estimators=100,
                           learning_rate=i,
                           num_leaves=31,
                           max_bin=255,
                           min_child_samples=20,
                           min_split_gain=0.0,
                           subsample=1.0,
                           subsample_freq=0,
                           colsample_bytree=1.0,
                           n_jobs=-1,
                           random_state=random_state)
    modellist.append(model)
modellist
"""

"\nrandom_state = 42\n\nmodellist = []\n\nfor i in l:\n    model = LGBMClassifier(boosting_type='gbdt',\n                           n_estimators=100,\n                           learning_rate=i,\n                           num_leaves=31,\n                           max_bin=255,\n                           min_child_samples=20,\n                           min_split_gain=0.0,\n                           subsample=1.0,\n                           subsample_freq=0,\n                           colsample_bytree=1.0,\n                           n_jobs=-1,\n                           random_state=random_state)\n    modellist.append(model)\nmodellist\n"

### Evaluate

In [16]:
from sklearn.model_selection import train_test_split

X_train_hold, X_test_hold, y_train_hold, y_test_hold = \
    train_test_split(X_train, y_train, test_size=0.3, random_state=42)

print(X_train_hold.shape, y_train_hold.shape)
print(X_test_hold.shape, y_test_hold.shape)

(43314, 93) (43314,)
(18564, 93) (18564,)

In [ ]:
%time model.fit(X_train_hold, y_train_hold)

In [ ]:
"""
for i in range(5):
    modellist[i].fit(X_train_hold, y_train_hold)

In [ ]:
"""
y_predict_list = []

for i in range(4):
    y_test_predict = modellist[i].predict_proba(X_test_hold)
    y_predict_list.append(y_test_predict)

#print(y_test_predict.shape)
#y_test_predict

In [19]:
from sklearn.metrics import log_loss

score = log_loss(y_test_hold, y_test_predict)

print(f"Score(log loss) = {score:.6f}")

Score(log loss) = 0.472662

## predict

In [ ]:
%time model.fit(X_train, y_train)

In [ ]:
predictions = model.predict_proba(X_test)

print(predictions.shape)
predictions

## Submit

In [ ]:
sample_submit = pd.read_csv("data/sampleSubmission.csv", index_col="id")

submit = pd.DataFrame(predictions,
                      index = sample_submit.index,
                      columns = model.classes_)

print(submit.shape)
submit.head()

In [ ]:
submit.to_csv("baseline-script.csv")

In [36]:
random_state = 42

modellist = []

for i in l:
    model = LGBMClassifier(boosting_type='gbdt',
                           n_estimators=1000,
                           learning_rate=0.01,
                           num_leaves=150,
                           max_bin=255,
                           min_child_samples = 110,
                           min_split_gain=0.0,
                           subsample=1.0,
                           subsample_freq=0,
                           colsample_bytree=1.0,
                           n_jobs=-1,
                           random_state=random_state)
    modellist.append(model)

for i in range(len(modellist)):
    modellist[i].fit(X_train_hold, y_train_hold)
    
y_predict_list = []
for i in range(len(modellist)):
    y_test_predict = modellist[i].predict_proba(X_test_hold)
    y_predict_list.append(y_test_predict)
    
scorelist = []    
for i in range(len(modellist)):
    y_test_predict = y_predict_list[i]
    score = log_loss(y_test_hold, y_test_predict)
    scorelist.append(score)
    
scorelist

[0.4737418251179392,
 0.46591213654179864,
 0.4777670517035836,
 0.490827654981689,
 0.5045228911725831,
 0.5166563348880923,
 0.526184717002881,
 0.5355855668163196,
 0.5463435829209151]

In [35]:
l = range(10,910,100)

In [ ]:
r = [100,200,400,800,1600,3200]

In [38]:
random_state = 42

model = LGBMClassifier(boosting_type='gbdt',
                       n_estimators=1000,
                       learning_rate=0.1,
                       num_leaves=150,
                       max_bin=255,
                       min_child_samples = 110,
                       min_split_gain=0.0,
                       subsample=1.0,
                       subsample_freq=0,
                       colsample_bytree=1.0,
                       n_jobs=-1,
                       random_state=random_state)

model.fit(X_train_hold, y_train_hold)
y_test_predict = model.predict_proba(X_test_hold)
score = log_loss(y_test_hold, y_test_predict)

score

0.8530084905714492